{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "atom": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": "2020",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "plugins": [
    "import",
    "n"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:n/recommended"
  ],
  "root": true,
  "rules": {
    "no-trailing-spaces": [ "error", { "ignoreComments": true } ],
    "no-console": "error",
    "max-len": [ 1, { "code": 130 } ],
    "semi": [ "error", "always" ],
    "comma-dangle": ["error", "never"],
    "quotes": ["error", "double"],
    "indent": [ "error", 2, { SwitchCase: 1 } ],
    "global-require": "off",
    "import/no-import-module-exports": "off",
    "import/no-unresolved": [ "error", { "ignore": [ "atom" ] } ],
    "n/no-missing-import": 'off',
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "minProperties": 5,
          "multiline": true,
          "consistent": true
        },
        "ObjectPattern": {
          "minProperties": 5,
          "multiline": true,
          "consistent": true
        }
      }
    ]
  },

  "settings": {
    "node": {
      # The Pulsar node version
      "version": "^14.16.0",
    },
  },

  "overrides": [
    {
      "files": [
        "./lib/worker*",
        "./lib/worker/**/*.js"
      ],

      "parserOptions": {
        "ecmaVersion": "2019",
        "sourceType": "commonjs"
      },
      "settings": {
        "node": {
          # The ESLint minimum supported node version
          "version": "^12.22.0",
        },
      }
    }
  ]
}
